[Unit]
Description=Telemetry service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
Environment="PYTHONPATH=/home/pi/settings"
ExecStart=/home/pi/.local/bin/mavproxy.py --non-interactive --daemon --state-basedir=/home/pi/telemetry/logs --default-modules BMS,radio_status,baro,ntrip,nmeagps,OpenDroneID
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=3
#TimeoutStartSec=infinity
#TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target


